/* CSS styles in this file are need for proper Baron work */
.wrapper {
    position: relative;
    overflow: hidden;
}
.scroller {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: 0;
}

.scroller__bar { /* The bar. You should define width, right and background */
    position: absolute;
    right: 0;    
    z-index: 1;
    width: 10px;
    background: #999;
}
.scroller__bar_h {
    bottom: 2px;
    height: 8px;
}

.header__title {
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* For padding and border, if exist */
    margin: 0;
    width: 100%;
    background: #999;

    /* pointer-events: none; /* IE9+ https://developer.mozilla.org/en-US/docs/CSS/pointer-events */
}
.header__title_state_fixed {
    position: absolute;
    z-index: 1; /* Removing flicker effect */
}