html, body {height: 100%;margin: 0; padding: 0; font-family: Verdana}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 70%;
    
    background: #fff;
    border: 1px solid #fc9;
    box-shadow:
        0 5px 15px -3px rgba(0, 0, 0, .7),
        0 0 0 1px rgba(0, 0, 0, .05);
    text-align: left;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 10px;
    bottom: 10px;
    right: 5px;
    width: 8px;
    border-radius: 5px;
    background: #ddf;
    background: rgba(0, 0, 255, .1);
    pointer-events: none;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    width: 8px;
    border-radius: 3px;
    background: #987;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    pointer-events: auto;
}
.scroller__bar:hover {
    opacity: .8;
}
.baron .scroller__bar {
    opacity: .6;
}
.baron_h .scroller__bar_h {
    opacity: .6;
    bottom: 30px;
}

.header__title {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ebe7e4;
    background-color: rgba(200, 209, 250, 1);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
    color: #222;
    font-size: 14px;
    line-height: 20px; /* sync with .search-results__header-wrapper height */
    opacity: 1;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
}
.header__title_state_fixed {
    position: absolute;
    z-index: 1;
    background-color: rgba(220, 209, 250, .95);
    text-shadow: 0 0 5px #fff;
}
.header__title_position_top {
    background-color: rgba(200, 250, 200, .8);
}
.header__title_position_top:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 30px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}
.header__title_position_bottom {
    background-color: rgba(250, 200, 200, .8);
}
.header__title_position_bottom:after {
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
}

.wrapper_2 .text {
    width: 800px;
}
.wrapper_2 .header__title {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.wrapper_2 .header__title_state_fixed {
    position: static;
}

.text {
    overflow: hidden;
    margin: 10px;
    font-size: 12px;
}

.wrapper_iphone .header__title_state_fixed {
    position: relative;
}
.wrapper_iphone .header__title_position_top {
    position: absolute;
    top: 0;
}
.wrapper_iphone .header__title_position_bottom {
    position: absolute;
    bottom: 0;
}

.load {
    background: yellow;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.load__value {
    background: green;
    width: 0%;
    height: 100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}