html, body {height: 100%;margin: 0; padding: 0; font-family: Verdana}

body {
	margin: 1px auto;
	text-align: center;
}

.wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 70%;
	
	background: #fff;
	border: 1px solid #fc9;
	box-shadow:
        0 5px 15px -3px rgba(0, 0, 0, .7),
        0 0 0 1px rgba(0, 0, 0, .05);
    text-align: left;
}
.scroller {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
	position: absolute;
    z-index: 1;
    right: 4px;
    display: none;
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #987;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;

}
.scroller__bar:hover {
	opacity: .8;
}
.scroller__bar_state_on {
	display: block;
}

.container {
	overflow: hidden;
}

.header {
	height: 20px;
}
.header__title {
	width: 100%;
	height: 20px;
	margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ebe7e4;
    background-color: rgba(200, 209, 250, 1);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
    color: #222;
    font-size: 14px;
    line-height: 20px; /* sync with .search-results__header-wrapper height */
    opacity: 1;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}
.header__title_state_fixed {
	position: absolute;
	z-index: 1;
	/*text-align: right;*/
	background-color: rgba(220, 229, 250, .6);
	text-shadow: 0 0 5px #fff;
	/*font-weight: 400; */
}
.header__title_position_top {
	background-color: rgba(220, 249, 250, .6);
}
.header__title_position_top:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -30px;
	width: 100%;
	height: 30px;
	background: -webkit-linear-gradient(top, rgba(100, 100, 255, .4) 0%, rgba(100, 100, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(100, 100, 255, .4) 0%, rgba(100, 100, 255, 0) 100%);
}
.header__title_position_bottom {
	background-color: rgba(240, 229, 250, .6);
}
.header__title_position_bottom:after {
	content: '';
	position: absolute;
	left: 0;
	top: -30px;
	width: 100%;
	height: 30px;
	background: -webkit-linear-gradient(top, rgba(100, 100, 255, 0) 0%, rgba(100, 100, 255, .4) 100%);
    background: linear-gradient(to bottom, rgba(100, 100, 255, 0) 0%, rgba(100, 100, 255, .4) 100%);
}

.text {
	overflow: hidden;
	margin: 10px;
	font-size: 12px;
}

.wrapper_iphone .header__title_state_fixed {
	position: relative;
}
.wrapper_iphone .header__title_position_top {
	position: absolute;
	top: 0;
}
.wrapper_iphone .header__title_position_bottom {
	position: absolute;
	bottom: 0;
}